# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.build/
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
ENV/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs / editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
